.encabezado-estilo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 10%;

    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 0 4%;
}