.headerino{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
   
   

}
/* background-color: #0272D2; */