.headerino{
 background-color:  #a1c8f8;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
    box-shadow: 1px 1px 4px 0.1px #ffffff;
   
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
/* background-color: #0272D2; */