.cajon-contrasena {
  position: relative;
  width: auto;
}

.estilo-contrasena {
    font-family: 'MonaSans-Light';
    display: relative;
    height: 100px;
    width: 400px;
    border-radius: 10px;
    border: 0.1px solid rgba(0, 0, 0, 0.731);
    box-sizing: border-box;
    font-size: 22px;
    font-weight:200;
    text-align: center;
    margin-right: 10px;
    padding-right: 55px;
  }

  .estilo-contrasena::placeholder {

    text-align: center;
    padding-left: 60px;
    color: rgba(128, 128, 128, 0.398);

  }

  .estilo-contrasena:focus {
    border: 1px solid rgba(83, 18, 141, 0.7);
    outline: none;
  }

  .icono-contrasena {
    position: absolute;
    right: 5%;
    top: 35%;
    cursor: pointer;

    padding-right: 0px;
    height: 32px;
    width: 32px;

  }
  

