@import 'app/variable.scss';

@font-face {
  font-family: 'uno';
  src: url('/fuentes/uno.ttf') format('opentype');
}


.cartelera {
border: none;
background-image: linear-gradient(to top, rgb(248, 248, 248), rgba(243, 243, 250, 0.897));
  padding: 10px;
  border-radius: 20px;
  width: 1000px;
  margin: 0 auto; 
  overflow-y: scroll; 
  box-shadow: 1px 1px 0.1px #0011ff13;
 height: 340px; 

 margin-bottom: 8px;
}


.cartelera::-webkit-scrollbar {
  width: 0.5em; 
}

.cartelera::-webkit-scrollbar-thumb {
  background-color: #888;
}

  .BARRABUSQUEDACHAT input {
    box-shadow: 1px 1px 0.1px #00000013;
    display: flex;
    text-align: left; 
    align-items: center;
    margin-top: 90px;
    margin: 0 auto;
    color: $color-letra;
    border: none;
    border-radius: 22px;
    height: 60px;
    align-items: center;
    background-color: rgb(241, 240, 240);
    font-family:'uno';
    width: 850px;
    margin-bottom: 289px;

    resize: vertical;
    overflow-y: auto;
    *:focus {
      outline: none; 
      
     }
     
    &::placeholder  {
      color: $color-letra;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        opacity: 0.6;
        font-family: 'uno', sans-serif;
        margin-left: 200px;
        font-size: 15px;
    }
    
   &:focus {
    outline: none;
    text-align: inherit;
   
       &::placeholder {
            opacity: 0.35;
            color: $color-letra;
        }
  }
  
  
  
   &[value] {
      font-weight:bolder;
      font-size: 15px;
      font-family:'uno', sans-serif;
      color: $color-letra;
      justify-content: center;
      align-items: center;
      padding-left: 25px;
  
    }
  
    
  }
  
  .botonsito2{
    display: flex;
    background: none;
    border: none;
    border-radius: 9px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
  margin-top: -323px;
     margin-left: 1112px;
     margin-bottom: 295px;
    background-color: rgb(0, 0, 0);
     font-family: 'uno', sans-serif;
     box-shadow: 1px 1px 0.1px #00000013;
  }

