@import 'app/variable.scss';

@font-face {
  font-family: 'uno';
  src: url('/fuentes/uno.ttf') format('opentype');
}

@font-face {
  font-family: 'MonaSansLight';
  src: url('../../public/fuentes/MonaSans/MonaSans-Light.woff2');
}

.contenedor-chat-principal {
  display: flex;
  flex-direction: column;

  height: 100vh;

  box-sizing: border-box;
}

.envoltorio {
  display: flex;
  flex-direction: row;

  height: 75vh;
  padding: 0 4%;
}

.barra-lateral {
  display: flex;
  flex-direction: column;

  width: 20%;

  background-image: linear-gradient(to top, rgb(248, 248, 248), rgba(243, 243, 250, 0.897));
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 0.1px #0011ff13;
  margin-right: 0.5%;
}

.barra-central {
  display: flex;
  flex-direction: column;
  background-color: palevioletred;

  height: 100%;
  width: 78%;

  background-image: linear-gradient(to top, rgb(248, 248, 248), rgba(243, 243, 250, 0.897));
  border-radius: 20px;
}


.archivolabel {
  color: rgba(0, 0, 0, 0.377);
  margin-left: 20px;
  font-family: 'uno';
  font-size: 13px;
}


.cartelera {

  height: 85%;
  border: none;
  background-image: linear-gradient(to top, rgb(248, 248, 248), rgba(243, 243, 250, 0.897));
  border-radius: 10px;
  overflow-y: scroll;
}


.cartelera::-webkit-scrollbar {
  width: 0.3em;
  background-color: rgba(109, 109, 109, 0.315);
}

.cartelera::-webkit-scrollbar-thumb {

  background-color: rgba(109, 109, 109, 0.315);
  border: 1px solid rgba(179, 179, 243, 0);
  max-height: 40px;
  border-radius: 5px;
}

.BARRABUSQUEDACHAT {
  display: flex;
  flex-direction: row;

  height: 15%;




  box-sizing: border-box;
  padding: 2%;

}

.barrabusqueda-input {
  font-family: 'MonaSansLight';
}

.BARRABUSQUEDACHAT>input {
  display: flex;
  flex-direction: column;

  width: 80%;


  text-align: left;
  align-items: center;
  color: $color-letra;
  border: none;
  border-radius: 4px;
  font-family: 'MonaSansLight';

  resize: vertical;
  overflow-y: auto;

  *:focus {
    outline: none;

  }

  &::placeholder {
    color: $color-letra;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    font-family: 'uno', sans-serif;
    margin-left: 200px;
    font-size: 15px;
  }

  &:focus {
    outline: none;
    text-align: inherit;

    &::placeholder {
      opacity: 0.35;
      color: $color-letra;
    }
  }



  &[value] {
    font-weight: bolder;
    font-size: 15px;
    font-family: 'uno', sans-serif;
    color: $color-letra;
    justify-content: center;
    align-items: center;
    padding-left: 25px;

  }


}

.botonsito2 {

  width: 20%;


  background: none;
  border: none;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  font-family: 'uno', sans-serif;
  box-shadow: 1px 1px 0.1px #00000013;
}