@font-face {
    font-family: 'roboto1'; 
    src: url('/fuentes/roboto1.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'roboto2'; 
  src: url('/fuentes/roboto2.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'trot'; 
  src: url('/fuentes/trot.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'ropa'; 
  src: url('/fuentes/ropa.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'ropa2'; 
  src: url('/fuentes/ropa2.ttf') format('opentype'); 
  }
  
  
  
  .chatbutons1,
  .chatbutons2 {
    font-family: 'roboto2', sans-serif;
    margin-top: 100px;
   
  
    display: flex;
    
    justify-content: center; 
    align-items: center; 
    flex-direction: row;
    align-items: flex-start; 
    flex-direction: row;
    text-align: left;
    color: #0410fd;
  }

  .chatbutons1 button,
.chatbutons2 button {
  margin-right: 20px;
  margin-top: 10px;
}
  
  .chatbutons2 .butin,
  .chatbutons2 .butin1 {
    border: 2px solid blue; 
    border-radius: 10px;
    padding: 10px 20px; 
    margin: 5px 0; 
    margin-right: 30px;
    margin-left: 25px;
    margin-top: -70px;
    
  }
  
  .buten,
  .buten2{
   
    border: 2px solid blue; 
    border-radius: 10px;
    padding: 10px 20px; 
    margin: 5px 0; 
    margin-right: 30px;
    margin-left: 15px;
  
  }

 
  .BARRABUSQUEDACHAT input {
    display: flex;
    text-align: left; 
    align-items: center;
    margin-top: 90px;
    margin: 0 auto;
    color: #000000;
    border: none;
    border-radius: 22px;
    height: 120px;
    align-items: center;
    background-color: transparent;
    font-family:'roboto1';
    width: 850px;
    margin-bottom: 289px;
    max-height: 200px;
    resize: vertical;
    overflow-y: auto;
    *:focus {
      outline: none; 
      
     }
     
    &::placeholder  {
      color: #000000;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        opacity: 0.6;
        font-family: 'roboto1', sans-serif;
        margin-left: 200px;
    }
    
   &:focus {
    outline: none;
    text-align: inherit;
   
       &::placeholder {
            opacity: 0.35;
            color: #000000;
        }
  }
  
  
  
   &[value] {
      font-weight:bolder;
      font-size: 22px;
      font-family:'roboto1', sans-serif;
      color: #000000;
      justify-content: center;
      align-items: center;
      padding-left: 25px;
  
    }
  
    
  }
  
  .botonsito2{
    display: flex;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    font-size: 20px;
  margin-top: -323px;
     margin-left: 1212px;
     margin-bottom: 295px;
    

  }