@import 'app/variable.scss';


.copyrightcheto{
    font-size: 12px;
    
     
     font-family:'roboto2', sans-serif;
     width: 70px;
   display: flex;
   color: $color-letra;
   background: transparent;
   border: none; 
   cursor: pointer;
   white-space: nowrap;

   margin: 0 0 5px 5px;
 }