@font-face {
    font-family: 'roboto1';
    src: url('/fuentes/roboto1.ttf') format('opentype');
}

@font-face {
    font-family: 'roboto2';
    src: url('/fuentes/roboto2.ttf') format('opentype');
}

@font-face {
    font-family: 'trot';
    src: url('/fuentes/trot.ttf') format('opentype');
}

@font-face {
    font-family: 'ropa';
    src: url('/fuentes/ropa.ttf') format('opentype');
}

@font-face {
    font-family: 'ropa2';
    src: url('/fuentes/ropa2.ttf') format('opentype');
}

@font-face {
    font-family: 'uno';
    src: url('/fuentes/uno.ttf') format('opentype');
  }

.sobrenosotros{
.principal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: inherit;
    box-sizing: border-box;
    height: auto;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateX(15%);
    border-radius: 20px;
    padding: 30px;
}

.principal div {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 20px;
    justify-content: stretch;
    font-family: 'uno';

}

.principal div:nth-child(odd) {
    font-size: 120%;
    align-self: flex-start;
    background-color: rgba(255, 153, 0, 0.2);
    transition: transform ease-in-out 1s;


    &:hover {
        transform: rotate(5deg);
        background-color: rgba(255, 136, 0, 0.3);
    }
}

.principal div:hover:nth-child(odd) p,
.principal div:hover:nth-child(odd) h1 {
    transform: rotate(-5deg);
    transition: transform ease-in-out 1s;
}

.principal div:nth-child(even) {
    display: inherit;
    align-self: flex-end;
    background-color: rgba(255, 0, 0, 0.2);
    transition: transform ease-in-out(3s);

    &:hover {
        transform: rotate(-3deg);
        background-color: rgba(255, 145, 0, 0.3);
    }

    .lista {
        box-sizing: border-box;
        word-break: break-word;
    }

}

.principal div:hover:nth-child(even) li,
.principal div:hover:nth-child(even) h1 {
    transform: rotate(5deg);
    transition: transform ease-in-out 1s;
}

.principal div:nth-child(2) li {
    font-size: 120%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 50%;
    border-radius: 30px;
    justify-content: space-evenly;
}

.principal div:nth-child(odd) {
    align-self: flex-start;
    background-color: rgba(255, 123, 0, 0.2);
}

.principal div:nth-child(even) {
    align-self: flex-end;
    background-color: rgba(255, 123, 0, 0.2)
}}