@font-face {
  font-family: 'roboto1'; 
  src: url('/fuentes/roboto1.ttf') format('opentype'); 
}

@font-face {
font-family: 'roboto2'; 
src: url('/fuentes/roboto2.ttf') format('opentype'); 
}

@font-face {
font-family: 'trot'; 
src: url('/fuentes/trot.ttf') format('opentype'); 
}

@font-face {
font-family: 'ropa'; 
src: url('/fuentes/ropa.ttf') format('opentype'); 
}

@font-face {
font-family: 'ropa2'; 
src: url('/fuentes/ropa2.ttf') format('opentype'); 
}





.BOTONSITOS {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.boton-1,
.boton-2,
.boton-3,
.boton-4 {
  width: 84px;
  height: 84px;
  outline: none;
  background-image: url('/icons/logo1.png');
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.boton-1:hover {
  background-image: url("/icons/logo1A.png");
}

.boton-2 {
  background-image: url('/icons/logo2.png');
  margin-left: 30px;
  
  &:hover {
      background-image: url("/icons/logo2A.png");
  }
}

.boton-3 {
  background-image: url('/icons/logo3.png');
  margin-left: 30px;
  
  &:hover {
      background-image: url("/icons/logo3A.png");
  }
}

.boton-4 {
  background-image: url('/icons/logo4.png');
  margin-left: 30px;
  
  &:hover {
      background-image: url("/icons/logo4A.png");
  }
}

.BARRABUSQUEDA input {
  display: flex;
  text-align: left; 
  align-items: center;
  margin-top: 90px;
  color: #000000;
  border: none;
  border-radius: 22px;
  height: 60px;
  align-items: center;
  background-color: transparent;
  font-family:'roboto1';
  width: 450px;
  margin-bottom: 280px;

  
  *:focus {
    outline: none; 
    
   }
   
  &::placeholder  {
    color: #000000;
      font-size: 20px;
      align-items: center;
      justify-content: center;
      opacity: 0.6;
      font-family: 'roboto1', sans-serif;
      margin-left: 200px;
  }
  
 &:focus {
  outline: none;
  text-align: inherit;
 
     &::placeholder {
          opacity: 0.35;
          color: #000000;
      }
}



 &[value] {
    font-weight:bolder;
    font-size: 22px;
    font-family:'roboto1', sans-serif;
    color: #000000;
    justify-content: center;
    align-items: center;
    padding-left: 25px;

  }

  
}



.link1{

  color: transparent;
}


.INTERACTIVOS1{

  top:20px;
  right:25px;
  flex-direction: column;
position: absolute;
 
 
}

.boton-ALFA, .boton-BETA, .boton-CHARLIE {
    font-weight:650;
  background-color: transparent; 
  font-size: 20px;
  border: none;
  font-family:'roboto1', sans-serif;
  color: #000000;
  display: flex;
  
  &:hover {
      font-family:'roboto2', sans-serif;
      font-weight: bolder; 
      color: #000000;
      cursor: pointer;
     
    }
    
}

.boton-BETA, .boton-CHARLIE{

  margin-top: 8px; 
}



.botonsito1 {
  display: flex;
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  font-size: 20px;
margin-top: -323px;
   margin-left: 412px;
   margin-bottom: 295px;
  
}


.dandolastima{
 
  font-size: 15px;
  color: #000000;
  border: none; 
  cursor: pointer;
  background: transparent;
  display: flex;
 text-shadow: none;
 
  }

