
body {
    background-image: url('/icons/101.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
}


.TITULAZO {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  font-family: 'roboto1', sans-serif;
  text-decoration: none;
  font-weight: bolder;
  font-size: 40px;
  outline: none;

  .loguito {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    margin-top: -97px;
    text-decoration: none;
    margin-left: 145px;
  }

  .logo1 {
    color: #000000;
    margin-top: 50px;
    font-family: 'roboto1', sans-serif;
    outline: none;
    text-decoration: none;
    outline: none;
  }

  .trans {

    color: transparent;
  }


}

.link1 {

  color: transparent;
}
