@font-face {
  font-family: 'uno';
  src: url('/public/fuentes/Palanquin/Palanquin-Bold.ttf') format('opentype');
}

.marquesina {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'uno';
  font-size: 22px;
}

.footer-app {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
}