
@font-face {
    font-family: 'ropa'; 
    src: url('/fuentes/roboto1.t') format('opentype'); 
    }
    @font-face {
      font-family: 'uno';
      src: url('/fuentes/uno.ttf') format('opentype');
    }

    @font-face {
      font-family: 'lux';
      src: url('/fuentes/lux.ttf') format('opentype');
    }
    
    @font-face {
      font-family: 'palanquinLight';
      src: url('/fuentes/Palanquin/Palanquin-ExtraLight.ttf') format('opentype');
    }
    
    @font-face {
    font-family: 'ropa2'; 
    src: url('/fuentes/ropa2.ttf') format('opentype'); 
    }

    @font-face {
      font-family: 'po1'; 
      src: url('/fuentes/po3.woff2') format('opentype'); 
    }
    
    @font-face {
      font-family: 'ubu'; 
      src: url('/fuentes/ubuntu4.ttf') format('opentype'); 
    }
   
    @font-face {
      font-family: 'BAR'; 
      src: url('/fuentes/BarcodeFont.ttf') format('opentype'); 
    }
   
      
    .chrome {
       
  color: #000000;
  font-size: 16px;
  font-family:'palanquinLight';
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 400px;
 

 

 
}








@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}