@font-face {
    font-family: 'roboto1'; 
    src: url('../roboto1.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'roboto2'; 
  src: url('../roboto2.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'trot'; 
  src: url('../trot.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'ropa'; 
  src: url('../ropa.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'ropa2'; 
  src: url('../ropa2.ttf') format('opentype'); 
  }
  
  
  .TITULAZO {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0410fd;
    font-family: 'roboto1', sans-serif;
    
    font-weight: bolder;
    font-size: 80px;
    margin-top: 21px;
    
  }
  
  .loguito {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: -95px;
    margin-left: 278px;
  }
  .chatbutons1,
  .chatbutons2 {
    font-family: 'roboto2', sans-serif;
    margin-top: 100px;
   
  
    display: flex;
    
    justify-content: center; 
    align-items: center; 
    flex-direction: row;
    align-items: flex-start; 
    flex-direction: row;
    text-align: left;
    color: #0410fd;
  }

  .chatbutons1 button,
.chatbutons2 button {
  margin-right: 20px;
  margin-top: 10px;
}
  
  .chatbutons2 .butin,
  .chatbutons2 .butin1 {
    border: 2px solid blue; 
    border-radius: 10px;
    padding: 10px 20px; 
    margin: 5px 0; 
    margin-right: 30px;
    margin-left: 25px;
    margin-top: -70px;
  }
  
  .buten,
  .buten2{
   
    border: 2px solid blue; 
    border-radius: 10px;
    padding: 10px 20px; 
    margin: 5px 0; 
    margin-right: 30px;
    margin-left: 15px;
  }

 
  
  
  
  
  .App {
    background-image: url('../101.jpg');
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 1000px;
    display: flex; 
    justify-content: center; 
    background-attachment: fixed;
  }
  
  
  
  .BARRAemail {
    margin-top: 100px;
    color: #0410fd;  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .BARRAemail {
    margin-top: 100px;
    color: #0410fd;  
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cartelin {
    margin-bottom: 5px;
    margin-right: 176px;
  }
  .NOMBRE {
    margin-top: 600px;
    color: #0410fd;  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   
  .cartelin {
    margin-bottom: 5px;
    margin-right: 176px;
  }
