@font-face {
    font-family: 'roboto1'; 
    src: url('/fuentes/roboto1.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'roboto2'; 
  src: url('/fuentes/roboto2.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'trot'; 
  src: url('/fuentes/trot.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'ropa'; 
  src: url('/fuentes/ropa.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'ropa2'; 
  src: url('/fuentes/ropa2.ttf') format('opentype'); 
  }
  
  
 

  
  .BARRAemail {
    margin-top: 100px;
    color: #0410fd;  
    display: flex;
    color: #0410fd;
    font-family: 'roboto1', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
  }
  .BARRAemail {
    margin-top: 100px;
    color: #0410fd;  
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cartelin {
    margin-bottom: 5px;
    margin-right: 176px;
  }
  .NOMBRE {
    margin-top: 600px;
    color: #0410fd;  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   
  .cartelin {
    margin-bottom: 5px;
    margin-right: 176px;
  }


  .new.box {
    margin-bottom: 100px;
    margin-right: 176px;

  }
