.BOTONSITOS {
 
    margin-top: 90px;
    margin-bottom: 40px;
    display: flex;
  justify-content: center;
  align-items: center;

  }

  @font-face {
    font-family: 'uno';
    src: url('/fuentes/uno.ttf') format('opentype');
  }

.text0{
  color: rgb(80, 80, 80);
font-family: "uno";
text-decoration-line: none;
border: none;
text-decoration: none; 
}

  
 .irchat {
  width: 100px;
  height: 100px;
margin-top: 10px;
   margin-left: 20px;
   cursor: pointer;}

   
 .link3 {
  cursor: pointer;
  width: 90px;
  height: 90px;
   margin-left: 28px;}

   .iraudio {
    margin-top: 11px;
    width: 100px;
    height: 100px;
     margin-left: 20px;
     cursor: pointer;}

     .link2{
      margin-left: 10px;
      margin-top: -20px;
      width: 90px;
      height: 90px;
   text-decoration: none;
     }

     .link3{
      
      width: 90px;
      height: 90px;
      
      text-decoration: none;
        }

        .link4{
          margin-top: -20px;
          margin-right: 30px;
          width: 90px;
          height: 90px;
          text-decoration: none;
            }

          .text01{
            width: 200px;
            color: rgb(80, 80, 80);
            margin-left: 33px;
font-family: "uno";
            align-items: center;

          }

          .text02{
            color: rgb(80, 80, 80);
            width: 20px;
            margin-left: 33px;
font-family: "uno";
            align-items: center;

          }
