@import 'app/variable.scss';


.footer1{
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    background-color: black;
}