@import 'app/variable.scss';


.footer1{
    margin: 0 0 -2200px 5px;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    background-color: black;
}