  .principal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: auto;

    h1 {
      font-family: 'uno';
      font-size: 26px;
      margin-bottom: 10px;
    }

    h2 {
      font-family: 'MonaSans-Light';
      font-weight: 300;
      top: -10px;
      font-size: 20px;
    }
  }


  .contenedor-credenciales {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: space-between;
    margin-top: 3%;
    
  }

  .textoLogin {
    font-family: 'MonaSans-Light';
    display: relative;
    height: 100px;
    width: 400px;
    border-radius: 10px;
    border: 0.1px solid rgba(0, 0, 0, 0.731);
    font-size: 22px;
    font-weight:200;
    text-align: center;
    margin-right: 10px;
  }

  .textoLogin::placeholder {

    text-align: center;
    padding-right: 5px;
    color: rgba(128, 128, 128, 0.398);

  }

  .textoLogin:focus {
    border: 1px solid rgba(83, 18, 141, 0.7);
    outline: none;
  }

  .boton-login {
    font-family: 'MonaSans-Light';
    font-size: 20px;
    margin-top: 5%;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
    border: 1.5px solid black;
  }

  .boton-login:hover {
    box-shadow: 0 0 10px rgba(43, 14, 84, 0.576);
    outline: none;
    border: 0.1px solid black;
  }


.contenedor-contraseña{
  font-family: 'uno';


}