@font-face {
  font-family: 'palanquinLight';
  src: url('/fuentes/Palanquin/Palanquin-ExtraLight.ttf') format('opentype');
}

@font-face {
  font-family: 'PalanquinThin';
  src: url('/public/fuentes/Palanquin/Palanquin-Thin.ttf') format('opentype');
}

@font-face {
    font-family: 'roboto1'; 
    src: url('/fuentes/roboto1.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'roboto2'; 
  src: url('/fuentes/roboto2.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'trot'; 
  src: url('/fuentes/trot.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'ropa'; 
  src: url('/fuentes/ropa.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'ropa2'; 
  src: url('/fuentes/ropa2.ttf') format('opentype'); 
  }

  .principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    border-radius: 3px;
  }

  .contenedor-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: auto;
    margin-top: 5%;

    h1 {
      font-family: palanquinLight;
      top: 200px;
      font-size: 40px;
      margin-bottom: -10px;
    }

    h2 {
      font-family: palanquinLight;
      font-weight: 300;
      top: -10px;
    }
  }


  .contenedor-credenciales {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: space-between;
    margin-top: 3%;
  }


  .textoLogin {
    font-family: 'palanquinLight';
    display: relative;
    height: 80px;
    width: 400px;
    border-radius: 10px;
    border: 0.1px solid rgba(0, 0, 0, 0.731);
    font-size: 30px;
    font-weight:200;
    text-align: center;
    margin-right: 10px;
  }


  .textoLogin::placeholder {

    text-align: center;
    padding-right: 5px;
    color: rgba(128, 128, 128, 0.398);

  }

  .textoLogin:focus {
    border: 1px solid rgba(83, 18, 141, 0.7);
    outline: none;
  }

  .boton-login {
    font-family: 'palanquinLight';
    font-size: 20px;
    margin-top: 5%;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
    border: 1.5px solid black;
  }

  .boton-login:hover {
    box-shadow: 0 0 10px rgba(43, 14, 84, 0.576);
    outline: none;
    border: 0.1px solid black;
  }


