@import 'app/variable.scss';

@font-face {
  font-family: 'po1'; 
  src: url('/fuentes/po3.woff2') format('opentype'); 
}
@font-face {
  font-family: 'uno';
  src: url('/fuentes/uno.ttf') format('opentype');
}


@font-face {
    font-family: 'roboto1'; 
    src: url('/fuentes/roboto1.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'roboto2'; 
  src: url('/fuentes/roboto2.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'trot'; 
  src: url('/fuentes/trot.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'ropa'; 
  src: url('/fuentes/ropa.ttf') format('opentype'); 
  }
  
  @font-face {
  font-family: 'ropa2'; 
  src: url('/fuentes/ropa2.ttf') format('opentype'); 
  }



.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
  }
  
  .boton {

    height: 20%;
    
    box-shadow: 1px 1px 0.1px #002fff00;
    border:none;
    color: $color-letra;
    font-size: 12px;
    border-radius: 5px;
    font-family: "uno";
    margin: 5px; 
    background-color:#ffffff00;
    cursor:pointer;
    text-align: center;  
  }
  
.boton:hover {
  background-color:#ffffff;
  border-radius: 20px;
}

.trans1{
  color: rgba(255, 255, 255, 0);
}

.iconito{width: 20px;
  height: 20px;
  margin-bottom: -6px;

 }


  /*.botono {
    border: none;
    color: rgba(0, 0, 0, 0.76);
    font-size: 12px;
    border-radius: 5px;
    font-weight: bolder;
    font-family: "uno";
    margin: 5px; 
    background-color:#f4f4f800;
    box-shadow: 1px 1px 0.1px #002fff00;
    cursor:pointer;
  }

  .botono:hover {
    background-color:#ffffff;
}*/