@import 'app/variable.scss';

@font-face {
  font-family: 'roboto1';
  src: url('/fuentes/ubuntu90.ttf') format('opentype');
}

@font-face {
  font-family: 'ubu';
  src: url('/fuentes/s.woff') format('woff');
}


   .loguito {
     display: inline;
     color:#2ABB9B;
   
     text-decoration: none;
     font-family: 'ubu';
     font-size: 40px;
     
     outline: none;
font-weight: bolder;
     font-size: 15px;
     margin-top: 1px;

   
 
   }

   .logo1 {
     display: inline;
  
     font-size: 30px;
     color: #2ABB9B;
     margin-top: 40px;
     font-family: 'ubu';

     outline: none;
     text-decoration: none;
     
    
   
   } 

/* */


/* text-shadow:
     1px 0px #ffffff,
     -1px 0px #ffffff,
     0px 1px #ffffff,
     0px -1px #ffffff,
     1px 1px #ffffff,
     -1px 1px #ffffff,
     1px -1px #ffffff,
     -1px -1px #ffffff,
     2px 0px #646464,
     -2px 0px #646464,
     0px 2px #646464,
     0px -2px #646464,
     2px 2px #646464,
     -2px 2px #646464,
     2px -2px #646464,
     -2px -2px #646464;*/

   



   .trans {

     color: transparent;
width: 150px;
margin: auto;
font-family: 'roboto1';
     display: flex;
     flex-direction: row;
     align-content: center;
     justify-content: center;
     align-items: center;
   }

   /* text-shadow: 
  2px 0px #8121ff,     
  -2px 0px #8121ff,    
  0px 2px #8121ff,    
  0px -2px #8121ff,    
  1px 1px #8121ff,    
  -1px 1px #8121ff,    
  1px -1px #8121ff,    
  -1px -1px #8121ff;   */

  /* text-shadow: 
  2px 0px #D21541,     
  -2px 0px #D21541,    
  0px 2px #D21541,    
  0px -2px #D21541,   */