@import 'app/variable.scss';
  
  @font-face {
     font-family: 'roboto1';
     src: url('/fuentes/roboto1.ttf') format('opentype');
   }

   @font-face {
     font-family: 'roboto2';
     src: url('/fuentes/roboto2.ttf') format('opentype');
   }

   @font-face {
     font-family: 'trot';
     src: url('/fuentes/trot.ttf') format('opentype');
   }

   @font-face {
     font-family: 'ropa';
     src: url('/fuentes/ropa.ttf') format('opentype');
   }

   @font-face {
     font-family: 'ropa2';
     src: url('/fuentes/ropa2.ttf') format('opentype');
   }

   .loguito {
     display: inline;
     color: #DBEDFF;
     font-family: 'roboto1', sans-serif;
     text-decoration: none;
     font-weight: bolder;
     font-size: 40px;

     outline: none;

     font-size: 15px;
     margin-top: 11px;

     text-shadow: 
  2px 0px #D21541,     /* Sombra derecha */
  -2px 0px #D21541,    /* Sombra izquierda */
  0px 2px #D21541,     /* Sombra inferior */
  0px -2px #D21541,    /* Sombra superior */
 
   }

   .logo1 {
 
    
     display: inline;
     font-weight: bolder;
     font-size: 30px;
     color: #fefeff;
     margin-top: 50px;
     font-family: 'roboto2', sans-serif;
     outline: none;
     text-decoration: none;
     outline: none;
     text-shadow: 
  2px 0px #D21541,     /* Sombra derecha */
  -2px 0px #D21541,    /* Sombra izquierda */
  0px 2px #D21541,     /* Sombra inferior */
  0px -2px #D21541,    /* Sombra superior */
  1px 1px #D21541,     /* Sombra diagonal inferior derecha */
  -1px 1px #D21541,    /* Sombra diagonal inferior izquierda */
  1px -1px #D21541,    /* Sombra diagonal superior derecha */
  -1px -1px #D21541;   /* Sombra diagonal superior izquierda */
   } 

   .trans {

     color: transparent;
width: 120px;
margin: auto;
     display: flex;
     flex-direction: row;
     align-content: center;
     justify-content: center;
     align-items: center;
   }

   