
.dandolastima{
 
     font-size: 15px;
     color: #000000;
     border: none; 
     cursor: pointer;
     background: transparent;
     display: flex;
    text-shadow: none;
    margin:0 auto;
     }
   
     .link1{

        color: transparent;
      }
      