@import 'app/variable.scss';



@font-face {
  font-family: 'roboto1';
  src: url('/fuentes/roboto1.ttf') format('opentype');
}

@font-face {
  font-family: 'roboto2';
  src: url('/fuentes/roboto2.ttf') format('opentype');
}

@font-face {
  font-family: 'trot';
  src: url('/fuentes/trot.ttf') format('opentype');
}

@font-face {
  font-family: 'ropa';
  src: url('/fuentes/ropa.ttf') format('opentype');
}

@font-face {
  font-family: 'ropa2';
  src: url('/fuentes/ropa2.ttf') format('opentype');
}

@font-face {
  font-family: 'nove';
  src: url('/fuentes/nove.ttf') format('opentype');
}

@font-face {
  font-family: 'po1'; 
  src: url('/fuentes/po1.woff2') format('opentype'); 
}
@font-face {
  font-family: 'ubu'; 
  src: url('/fuentes/c7.otf') format('opentype'); 
}


.CONTENEDOR{
margin-right: auto;
margin-left: 1000px;
margin-top: -100px;
position: absolute;
}

.BOTON{
  font-family: 'po1';
  font-size: 14px;
  margin-right: 10px;
  border: none;
  font-weight: bolder;
  color: #000000;
  background: transparent;

 
}


.BOTON:hover {
  cursor: pointer;
}
.link1 {

  color: transparent;
}





  
   
   
    