@font-face {
  font-family: 'roboto1'; 
  src: url('/fuentes/roboto1.ttf') format('opentype'); 
}

@font-face {
font-family: 'roboto2'; 
src: url('/fuentes/roboto2.ttf') format('opentype'); 
}

@font-face {
font-family: 'trot'; 
src: url('/fuentes/trot.ttf') format('opentype'); 
}

@font-face {
font-family: 'ropa'; 
src: url('/fuentes/ropa.ttf') format('opentype'); 
}

@font-face {
font-family: 'ropa2'; 
src: url('/fuentes/ropa2.ttf') format('opentype'); 
}


.INTERACTIVOS1{
  font-size: 15px;
    top:20px;
    right:25px;
    width: 100px;
  
    flex-direction: column;
  position: absolute;
    
  .boton-ALFA, .boton-BETA, .boton-CHARLIE {
    font-weight:650;
    display: inline-block;
margin-top: 1px;
  border: none;
  font-family:'roboto1', sans-serif;
  color: #000000;
  display: flex;
  
  &:hover {
      font-family:'roboto2', sans-serif;
      font-weight: bolder; 
      color: #000000;
      cursor: pointer;
     
    }
    
}
   
  }