@import 'app/variable.scss';

@font-face {
  font-family: 'uno';
  src: url('/fuentes/uno.ttf') format('opentype');
}


.CONTENEDOR{
margin-right: auto;
margin-left: 1000px;
margin-top: -100px;
position: absolute;
}

.BOTON{
  margin-top: 20px;
margin-left: -10px;
  font-size: 14px;
  margin-right: 10px;
  border: none;
  font-weight: bolder;
  color: #646464;
  opacity: 1;
  background: transparent;
  font-family: 'uno';
 
}


.BOTON:hover {
  cursor: pointer;
}
.link1 {
width: 50px;
  color: transparent;
}




  
   
   
    